### Python ###
# Compiled
__pycache__

# Logs and Settings
**/*.log*
**/*.log
*.log*
packages/docs/*.json

# Environment
venv*
*.DS_Store
**.vscode/
coc_test.py
*.env
secrets.py
.idea/
archive/
__init__.py
*.db
