utils/configurations/emoticons.ini
utils/configurations/*.json
utils/database/*.db
utils/images/
.DS*
__py*
*.db
*/*__py*
*/*db
dumps/*.ipynb
vscode/*
dumps/
.vscode/
.idea/
.ipynb_checkpoints
*.docx
*.ipynb
report.html
Images/*
*.xlsx
panther_env/
.pylintrc
venv_panther/
venv*
discord.log
weekly.log