aiohttp==3.6.2
async-timeout==3.0.1
asyncpg==0.20.1
attrs==19.3.0
chardet==3.0.4
coc.py @ git+https://github.com/mathsman5133/coc.py@fe0ca78630894357c7f9351e6966bcc5697ba3bb
discord.py==1.3.4
idna==2.10
idna-ssl==1.1.0
multidict==4.7.6
python-dotenv==0.14.0
typing-extensions==3.7.4.2
websockets==8.1
yarl==1.5.0

